@import 'settings/reset';
@import 'settings/variables';
@import 'settings/grid';

* {
  box-sizing: border-box;
}

body {
  font-size: $fontSize;
  font-family: $font-base;
  line-height: $lineHeight;
  background-color: #fff;
  &:focus {
    outline-color: $colorBackgroundAlt;
  }
}

a {
  text-decoration: none;
}

