@import "../../styles/settings/variables";

.give {
  font-weight: 300;
  font-size: 3.6em;
  line-height: 1.25em;
  padding: 13px 93px;
  color: $colorText;
  border: .75px solid $colorText;
  background-color: #fff;
  @include hoverBtn;
}