// Colors
$colorText: #3C3C3C;
$colorTextFaded: #737373;
$colorTextAlt: #5E5322;
$colorBackground: #F0F1F1;
$colorBackgroundAlt: #FAD648;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=latin-ext');
$font-base: 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i&display=swap&subset=latin-ext');
$font-alt: 'Merriweather', serif;
$fontSize: 10px;
$lineHeight: 1.8em;

//Mixins
@mixin hoverBtn {
  cursor: pointer;
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $colorText;
    height: 0;
    width: 100%;
    transition: height .5s;
    z-index: -1;
  }

  &:hover {
    color: #fff;
    transition: all .2s;

    &::after {
      height: 100%;
      transition: height .5s;
    }
  }

  &:active {
    top: 2px;
    transition: all .1s;
  }
}


